.container
  %h1.h2 当サイトについて
  %hr/
  %p
    EC-TRIPとは、Ruby on Rails / Amazon Web Services をベースにして動作する、デモ専用のECサイトです。
  .text-center.mt-5
    %hr/
    = link_to 'トップに戻る', root_path, class: 'btn btn-info'