.container
  %h1.h2 特定商取引法に基づく表記
  %table.table.mt-5
    %tr
      %td{style: 'width: 180px'} 販売業者
      %td
    %tr
      %td 運営責任者
      %td
    %tr
      %td 住所
      %td
    %tr
      %td 電話番号
      %td
    %tr
      %td メールアドレス
      %td
    %tr
      %td URL
      %td
    %tr
      %td 商品以外の必要代金
      %td
    %tr
      %td 注文方法
      %td
    %tr
      %td 支払方法
      %td
    %tr
      %td 支払期限
      %td
    %tr
      %td 引渡し時期
      %td
    %tr
      %td 返品・交換について
      %td
  .text-center.mt-5
    %hr/
    = link_to 'トップに戻る', root_path, class: 'btn btn-info'