.container
  %h1.h2 利用規約
  %hr/
  %p.small
    この利用規約（以下，「本規約」といいます。）は，EC-TRIP（以下，「運営者」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。
  %h2.h5.mt-4 第1条（適用）
  %p.small 本規約は，ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。
  %h2.h5.mt-4 第2条（利用登録）
  %ol.small
    %li.my-3 登録希望者が当社の定める方法によって利用登録を申請し，当社がこれを承認することによって，利用登録が完了するものとします。
    %li.my-3
      運営者は，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。
      .my-3
        (1) 利用登録の申請に際して虚偽の事項を届け出た場合
  .text-center.mt-5
    %hr/
    = link_to 'トップに戻る', root_path, class: 'btn btn-info'