%p これはEC-TRIP デモサイトのテストメールです。
%p
  この度はご注文頂きまして、誠にありがとうございます。
  %br/
  下記ご注文内容にお間違えが無いかご確認ください。
%p
  %ul
    - @purchase.details.each do |detail|
      %li= "#{detail.item.name} (数量:#{detail.quantity})"
%p
  このメッセージはお客様へのお知らせ専用となっています。
  %br/
  ご質問やご不明な点がございましたら
  = link_to 'こちら', new_contacts_url, target: '_blank'
  からお問い合わせください。
