SECRET_KEY_BASE = ""

# DB For Production
PRO_DATABASE_HOST=""
PRO_DATABASE_USERNAME=""
PRO_DATABASE_PASSWORD=""

# Stripe API Keys
STRIPE_SECRET_KEY = ""
STRIPE_PUBLISHABLE_KEY = ""

# AWS S3
S3_BUCKET=""
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
S3_REGION = ""
S3_HOST = ""

# Mail
SMTP_USERNAME=""
SMTP_PASSWORD=""
SMTP_ADDRESS=""
SMTP_PORT=""
SMTP_DOMAIN=""

# Login Facebook
FACEBOOK_APP_ID = ""
FACEBOOK_APP_SECRET = ""

# Login Twitter
TWITTER_CONSUMER_KEY = ""
TWITTER_CONSUMER_SECRET = ""
