.card
  .card-body
    %p
      - if Date.today - 7.days < topic.created_at
        %span.badge.badge-info.p-1.mr-1 NEW
      %span.small.text-muted= topic.created_at.strftime('%Y/%m/%d')
    %p.mb-0.text-justify
      - if topic.link.blank?
        = topic.text
      - else
        = link_to topic.text, topic.link, class: 'link', target: '_blank'
