- content_for :stylesheet do
  = stylesheet_link_tag 'front/credit_card'
.credit_card_index
  = render 'index', credit_cards: @credit_cards
.modal.fade.card_form_dialog
  .modal-dialog
    .modal-content
- content_for :javascript do
  %script{:src => 'https://js.stripe.com/v2/', :type => 'text/javascript'}
  :javascript
    Stripe.setPublishableKey('#{ENV['STRIPE_PUBLISHABLE_KEY']}');
  = javascript_include_tag 'stripe_operate'
