.alert.alert-danger.stripe_err_message{style: 'display: none'}
.credit_card_input
  .alert.alert-info.mb-1
    デモ環境では以下のカード番号がご利用いただけます
  %table.table.table-bordered.table-sm.small
    %tr
      %th ブランド
      %th カード番号
      %th 期限
      %th コード
      %th 名義
    %tr
      %th Visa
      %td 4242 4242 4242 4242
      %td 12/2020
      %td 000
      %td TARO YAMADA
    %tr
      %th Master
      %td 5555 5555 5555 4444
      %td 12/2020
      %td 000
      %td TARO YAMADA
    %tr
      %th Amex
      %td 3782 822463 10005
      %td 12/2020
      %td 0000
      %td TARO YAMADA
  .form-group
    %label.form-control-label.required{for: 'card_number'} カード番号
    %input#card_number.form-control.card_input{type: 'number', placeholder: '0000 0000 0000 0000'}
  .form-group
    %label.form-control-label.required{for: 'card_exp_month'} 有効期限
    %table
      %tr
        %td{width: '25px'}
          = select_tag :exp_month, options_for_select(select_months), include_blank: true, class: 'form-control card_input', id: 'card_exp_month'
        %td.text-center{width: '40px'}
          %span.ml-2.mr-2 月
        %td{width: '40px'}
          = select_tag :exp_year, options_for_select(select_years), include_blank: true, class: 'form-control card_input', id: 'card_exp_year'
        %td{width: '40px'}
          %span.ml-2 年
  .form-group
    %label.form-control-label.required{for: 'card_cvc'} セキュリティコード
    %input#card_cvc.form-control.card_input{type: 'number', placeholder: 'カード裏面に記載された3桁または4桁の番号'}
  .form-group
    %label.form-control-label.required{for: 'card_name'} カード名義
    %input#card_name.form-control.card_input{type: 'text', placeholder: 'TARO YAMADA'}
- content_for :javascript do
  %script{:src => 'https://js.stripe.com/v2/', :type => 'text/javascript'}
  :javascript
    Stripe.setPublishableKey('#{ENV['STRIPE_PUBLISHABLE_KEY']}');
  = javascript_include_tag 'stripe_operate'