- @crumbs = [{title: 'トピック管理', path: admin_topics_path}, {title: '新規作成'}]
= form_for @topic, url: admin_topics_path, method: :post do |f|
  .card
    .card-header
      トピック
    .card-body
      = render 'form', f: f
      .float-right
        = f.submit '登録', class: 'btn btn-primary mr-2'
        = link_to 'キャンセル', admin_topics_path, class: 'btn btn-light'
