.text-center
  %h4.mb-2
    お届け先
  %p.text-muted.mb-5 商品のお届け先住所を入力してください
= form_for @address, url: order_delivery_addresses_path, method: :post, class: 'mb-0', id: 'address_form' do |f|
  = hidden_field_tag :purchase, true
  .row.justify-content-md-center
    .col-md-10.col-lg-8.col-xl-6
      .card
        .card-body
          = render '/addresses/form', f: f
          .text-right
            = button_tag class: 'btn btn-info bmd-btn-fab', onclick: '$("#address_form").submit();' do
              %i.material-icons arrow_forward