.cart_index {
  .card-header {
    padding-top: 30px;
  }
  .card-body {
    padding-left: 0;
    padding-right: 0;
  }
  .cart_list {
    tbody {
      td {vertical-align: middle;}
      .item_title { font-size: 20px; }
      img { width: 150px; }
      .img_td {
        width: 150px;
        padding: 10px 0;
      }
      @media (max-width: 767px) {
        .item_title{ font-size: 15px; }
        img{ width: 80px; }
        .img_td { width: 80px; }
      }
    }
  }
}