body {
  font-family: 'Roboto', 'Helvetica', "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  p, span, label {
    font-family: "游ゴシック",YuGothic,sans-serif;
  }
}

.no-thank-yu, .navbar, .btn, .form-control, .input-gruop, .breadcrumb, .nav-tabs, .nav-pills, .panel-title, .list-group, .pagination, .pager, .alert, .label, .badge, .panel-heading, .lead, .tooltip, .popover {
  font-family: 'Roboto', 'Helvetica', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  color: #3F4550;
}

p {
  margin: 0 0 12px;
}

.text-justify {
  text-align: justify;
}

a:hover {
  text-decoration: none;
}

.view_pc {
  @media (max-width: 767px) { display: none; }
}
.view_sp {
  @media (min-width: 768px) { display: none; }
}

header nav {
  input::-webkit-input-placeholder {
    color: #4B5057 !important;
  }
  input::-moz-placeholder {
    color: #4B5057 !important;
    opacity: 1;
  }
  input:-ms-input-placeholder {
    color: #4B5057 !important;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  //line-height: 100px; /* Vertically center the text there */
  padding-top: 20px;
  background-color: #f5f5f5;
  a {
    font-size: 0.9rem;
    color: #4B5057;
  }
}