body {
  font-family: 'Roboto', 'Helvetica', "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  p, span, label {
    font-family: "游ゴシック",YuGothic,sans-serif;
  }
}

.no-thank-yu, .navbar, .btn, .form-control, .input-gruop, .breadcrumb, .nav-tabs, .nav-pills, .panel-title, .list-group, .pagination, .pager, .alert, .label, .badge, .panel-heading, .lead, .tooltip, .popover {
  font-family: 'Roboto', 'Helvetica', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  color: #3F4550;
}

p {
  margin: 0 0 12px;
}

.text-justify {
  text-align: justify;
}

a:hover {
  text-decoration: none;
}

.view_pc {
  display: block;
  @media (max-width: 767px) { display: none; }
}
.view_sp {
  display: none;
  @media (max-width: 767px) { display: block; }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}