.item_card {
  .item_card_header {
    position: relative;
    .favorite_btn {
      position: absolute;
      bottom: -35px;
      right: 10px
    }
  }
  .card_body {
    .item_name {
      line-height: 20px;
    }
  }
}

.item_show {
  .item_about {
    .card-header {
      padding: 30px 0;
      p {
        margin-bottom: 0;
      }
    }
    .card-body {
      p {
        line-height: 25px;
        text-align: justify;
        margin-bottom: 20px;
        font-size: 0.95rem;
      }
      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 10px;
        font-size: 1.5rem;
      }
    }
  }
  .operation_sp {
    @media (min-width: 767px) { display: none !important; }
    filter:alpha(opacity=50);
    -moz-opacity: 0.8;
    opacity: 0.9;
    .card-body {
      padding: 5px 20px;
    }
  }
}