.item_card {
  .item_card_header {
    position: relative;
    .favorite_btn {
      position: absolute;
      bottom: -22px;
      right: 10px
    }
  }
  .card-body {
    .item_name, .item_price {
      color: #4B5057;
    }
  }
}

.item_show {
  .item_about {
    .card-header {
      padding: 30px 0;
      p {
        margin-bottom: 0;
      }
    }
    .card-body {
      p {
        line-height: 25px;
        text-align: justify;
        margin-bottom: 20px;
        font-size: 0.95rem;
      }
      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 10px;
        font-size: 1.5rem;
      }
    }
  }
  .operation_sp {
    @media (min-width: 767px) { display: none !important; }
    filter:alpha(opacity=50);
    -moz-opacity: 0.8;
    opacity: 0.9;
    .card-body {
      padding: 5px 20px;
    }
  }

  .item_cms img:hover {
    cursor: pointer;
  }
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.6;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}