#top_slider {
  .carousel-item {
    max-height: 400px;
    .carousel-caption {
      h2 {color: #FAFAFA;}
      @media (max-width: 767px) {
        padding-bottom: 10px;
        left: 8%;
        right: 8%;
        h2 {font-size: 1.2rem;}
        p {font-size: 0.85rem;}
      }
    }
  }
}

.category_area {
  background-color: #F5F5F5;
}
.information a {
  text-decoration: underline;
  color: #3F4550;
}
section {
  margin-bottom: 35px;
}