#top_slider {
  .carousel-item {
    height: 480px;
    img {margin: 0 auto;}
    .carousel-caption {
      @media (max-width: 767px) {
        padding-bottom: 10px;
        left: 8%;
        right: 8%;
        h2 {font-size: 1.2rem;}
        p {font-size: 0.85rem;}
      }
      .black {color: #3F4550;}
      .white {color: #FAFAFA;}
    }
  }
}

.category_area {
  background-color: #F5F5F5;
  a {
    color: #3F4550;
  }
  .dropdown-optional{
    top: 61px !important;
    transform: none !important;
  }
}
section {
  margin-bottom: 35px;
  .section_title {
    margin-bottom: 20px;
    span {
      font-size: 0.9rem;
      margin-left: 5px;
    }
  }
}
.topics p {
  padding: 0 10px;
  font-size: 0.95rem;
  line-height: 1.5rem;
}