- @crumbs = [{title: 'カテゴリー一覧', path: admin_categories_path}, {title: @category.name}]

.card
  .card-body
    = form_for @category, url: admin_category_path(@category) do |f|
      = render 'form', f: f
      .text-right
        = f.submit '更新', class: 'btn btn-primary mr-2'
        = link_to 'キャンセル', admin_categories_path, class: 'btn btn-light'