.container.text-center
  .card
    .card-body
      - if @title
        %h3= @title
      %p.text-justify= simple_format(@message)
      - if @button_custom
        = link_to @button_custom[:title], @button_custome[:url], class: 'btn btn-success ma20'
      - else
        = link_to 'トップページへ', root_path, class: 'btn btn-primary'