!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EcTrip
    = csrf_meta_tags
    = stylesheet_link_tag    'front', media: 'all'
    = javascript_include_tag 'front'
  %body
    = yield
