<!DOCTYPE html>
<html>
  <head>
    <title>EcTrip</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'front', media: 'all' %>
    <%= javascript_include_tag 'front' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
